<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" class="shoppingName">
            Name
            <input name="" id="name" class="form-control" />
          </label>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">
            Amount
            <input type="number" name="" id="amount" class="form-control" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            style="margin-right: 3px"
          >
            Add
          </button>
          <button
            type="button"
            class="btn bg-danger"
            style="color: white; margin-right: 3px"
          >
            Clear
          </button>
          <button type="button" class="btn bg-primary" style="color: white">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
