<style>
  input.ng-invalid.ng-touched[_ngcontent-vjr-c34],
  textarea.ng-invalid.ng-touched[_ngcontent-vjr-c34] {
    border: 1px solid red;
  }
  label {
    font-size: 18px;
  }
</style>
<div _ngcontent-vjr-c34="" class="col-xs-12">
  <form
    _ngcontent-vjr-c34=""
    novalidate=""
    class="ng-pristine ng-invalid ng-touched"
  >
    <div _ngcontent-vjr-c34="" class="row">
      <div _ngcontent-vjr-c34="" class="col-xs-12">
        <button
          _ngcontent-vjr-c34=""
          type="submit"
          class="btn btn-success"
          style="margin-right: 3px"
          (click)="addRecipe()"
        >
          Save</button
        ><button _ngcontent-vjr-c34="" type="button" class="btn btn-danger">
          Cancel
        </button>
      </div>
    </div>
    <div _ngcontent-vjr-c34="" class="row">
      <div _ngcontent-vjr-c34="" class="col-xs-12">
        <div _ngcontent-vjr-c34="" class="form-group">
          <label _ngcontent-vjr-c34="" for="name">Name</label
          ><input
            _ngcontent-vjr-c34=""
            type="text"
            id="name"
            class="form-control ng-pristine ng-invalid ng-touched"
            style="margin-bottom: 10px"
            [formControl]="name"
          />
        </div>
      </div>
    </div>
    <div _ngcontent-vjr-c34="" class="row">
      <div _ngcontent-vjr-c34="" class="col-xs-12">
        <div _ngcontent-vjr-c34="" class="form-group">
          <label _ngcontent-vjr-c34="" for="imgPath">Image URL</label
          ><input
            _ngcontent-vjr-c34=""
            type="text"
            id="imagePath"
            class="form-control ng-untouched ng-pristine ng-invalid"
            [formControl]="imgPath"
          />
        </div>
      </div>
    </div>
    <div _ngcontent-vjr-c34="" class="row">
      <div _ngcontent-vjr-c34="" class="col-xs-12">
        <img _ngcontent-vjr-c34="" class="img-responsive" src="" />
      </div>
    </div>
    <div _ngcontent-vjr-c34="" class="row">
      <div _ngcontent-vjr-c34="" class="col-xs-12">
        <div _ngcontent-vjr-c34="" class="form-group">
          <label _ngcontent-vjr-c34="" for="description">Description</label
          ><textarea
            _ngcontent-vjr-c34=""
            type="text"
            id="description"
            rows="6"
            class="form-control ng-untouched ng-pristine ng-invalid"
            [formControl]="description"
          ></textarea>
        </div>
      </div>
    </div>
    <div _ngcontent-vjr-c34="" class="row">
      <div
        _ngcontent-vjr-c34=""
        class="col-xs-12 ng-untouched ng-pristine ng-valid"
      >
        <hr _ngcontent-vjr-c34="" />
        <div _ngcontent-vjr-c34="" class="row">
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="name" class="shoppingName">
                Name
                <input
                  id="name"
                  class="form-control"
                  [formControl]="ingredientName"
                  name="nameInput"
                />
              </label>
            </div>
            <div class="col-sm-2 form-group">
              <label for="amount">
                Amount
                <input
                  type="number"
                  id="amount"
                  class="form-control"
                  [formControl]="ingredientAmount"
                />
              </label>
            </div>
            <div class="col-sm-4" style="margin-top: 26px">
              <button type="reset" class="btn-danger btn col-sm-2">X</button>
            </div>
          </div>
          <div _ngcontent-vjr-c34="" class="col-xs-12" style="margin-top: 6px">
            <button _ngcontent-vjr-c34="" type="button" class="btn btn-success">
              Add Ingredient
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
