<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <h2 class="list-group-item-heading">
        {{ recipe.title }}
      </h2>
    </div>

    <span class="pull-right">
      <img
        [src]="recipe.imgPath"
        class="image-responsive"
        style="height: 250px; border-radius: 4px; margin-top: 10px"
      />
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        style="
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: rgb(56, 113, 182);
          color: white;
          border-radius: 5px;
          padding: 7px;
        "
      >
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage Recipe
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">To Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li>
            <a class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</a>
          </li>
        </ul>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="list-group-item-text">
      {{ recipe.description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Ingredients</h5>
    <ul class="list-group">
      <div
        *ngFor="let ingredient of recipe.ingredients"
        class="list-group-item"
        style="cursor: pointer"
      >
        {{ ingredient.name + " - " + ingredient.amount }}
      </div>
    </ul>
  </div>
</div>
